################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SportsClub/Formular2Spg/Formular2Spg/bin/Debug/net8.0
/SportsClub/Formular2Spg/Formular2Spg/obj
